body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bdb4b4;
    text-align: center;
}

header {
    background-color: #333;
    color: #2ee31a;
    padding: 1em 0;
}

main {
    padding: 2em;
}

input {
    padding: 0.5em;
    margin: 0.5em;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #1daee8;
    color: #0c0202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}